---
import Layout from '../../../layouts/Layout.astro'
import Gallery from '../../../components/Gallery.svelte'

const metaData = {
	title: 'Feast of our Saints 2024',
	desciption: 'Feast of our Saints 2024',
}

const amountOfImages = 289; 

let images = []

for (let i = 0; i <= amountOfImages; i++) {
	images.push({
		largeURL: `${
			import.meta.env.PUBLIC_ASSETS
		}images/2024/2024-07-feast-of-our-saints/${i}.jpg`,
		thumbnailURL: `${
			import.meta.env.PUBLIC_ASSETS
		}images/2024/2024-07-feast-of-our-saints/thumbnails/${i}.jpg`,
		width: 1200,
		height: 800,
	})
}
---

<Layout {...metaData}>
	<h1>{metaData.title}</h1>
	<Gallery
		client:load
		galleryID='feast-of-our-saints-07-2024'
		images={images}
	/>
</Layout>
