---
import Layout from '../../../layouts/Layout.astro'
import Gallery from '../../../components/Gallery.svelte'

const metaData = {
	title:'Visitation of the Metropolitan Archbischop Mar Thattil at Vienna on 25th May 2024',
	desciption: 'Visitation of the Metropolitan Archbischop Mar Thattil at Vienna on 25th May 2024',
}

const amountOfImages = 117; 

let images = []

for (let i = 0; i <= amountOfImages; i++) {
	images.push({
		largeURL: `${
			import.meta.env.PUBLIC_ASSETS
		}images/2024/2024-05-visit-of-archbishop/${i}.jpg`,
		thumbnailURL: `${
			import.meta.env.PUBLIC_ASSETS
		}images/2024/2024-05-visit-of-archbishop/thumbnails/${i}.jpg`,
		width: 1200,
		height: 800,
	})
}
---

<Layout {...metaData}>
	<h1>{metaData.title}</h1>
	<Gallery
		client:load
		galleryID='visit-of-archbishiop-05-2024'
		images={images}
	/>
</Layout>
