---
import GalleryCard from '../../components/GalleryCard.svelte'
import Layout from '../../layouts/Layout.astro'

const metaData = {
	title: 'Gallery',
	desciption: 'Photos of various Syro Malabar Community events.',
}
---

<Layout {...metaData}>
	<h1>Gallery</h1>
	<div class='grid'>
		<GalleryCard
			title='Visitation of the Metropolitan Archbischop Mar Thattil at Vienna on 25th May 2024'
			url='/gallery/2024/2024-05-visit-of-archbishop'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2024/2024-05-visit-of-archbishop/thumbnails/57.jpg`}
		/>
		<GalleryCard
			title='First Holy Communion Holy Confirmation and Birthday Celebration of Rev Fr Thomas Thandappilly 2024'
			url='/gallery/2024/2024-05-first-holy-communion'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2024/2024-05-first-holy-communion/thumbnails/1.jpg`}
		/>
		<GalleryCard
			title='Welcome to Major Arch Bishop Mar Raphael Thattil Pithave at Vienna Airport on 23rd May 2024 at 3 pm.'
			url='/gallery/2024/2024-05-welcome-bishop-mar-raphael-thattil'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2024/2024-05-welcome-bishop-mar-raphael-thattil/thumbnails/1.jpg`}
			imageAlt='Welcome to Major Arch Bishop Mar Raphael Thattil Pithave at Vienna Airport on 23rd May 2024 at 3 pm.'
		/>
		<GalleryCard
			title='Easter Sunday 2024'
			url='/gallery/2024/2024-03-easter-sunday'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2024/2024-03-easter-sunday/thumbnails/1.jpg`}
			imageAlt='Easter Sunday 2024'
		/>
		<GalleryCard
			title='Easter Saturday Seikogasse 2024'
			url='/gallery/2024/2024-03-easter-saturday-seikogasse'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2024/2024-03-easter-saturday-seikogasse/thumbnails/1.jpg`}
			imageAlt='Easter Saturday Seikogasse 2024'
		/>
		<GalleryCard
			title='Maundy Thursday 2024'
			url='/gallery/2024/2024-03-maundy-thursday'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2024/2024-03-maundy-thursday/thumbnails/1.jpg`}
			imageAlt='Maundy Thursday 2024'
		/>
		<GalleryCard
			title='Annual Retreat March 2024'
			url='/gallery/2024/2024-03-annual-retreat'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2024/2024-03-annual-retreat/thumbnails/1.jpg`}
			imageAlt='Annual Retreat March 2024'
		/>
		<GalleryCard
			title='Osana celbrations Sunday 24th 2024'
			url='/gallery/2024/2024-03-osana-celebrations'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2024/2024-03-osana-celebrations/thumbnails/1.jpg`}
			imageAlt='Osana celbrations Sunday 24th 2024'
		/>
		<GalleryCard
			title='St. Joseph Festival 2024'
			url='/gallery/2024/2024-03-stjoseph-festival'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2024/2024-03-stjoseph-festival/thumbnails/0.jpg`}
			imageAlt='St. Joseph Festival 2024'
		/>
		<GalleryCard
			title='Birthday celebration of Rev.Fr. Wilson Mecheril on Sunday 10th of March 2024'
			url='/gallery/2024/2024-03-rev-mecheril-birthday'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2024/2024-03-rev-mecheril-birthday/thumbnails/0.jpg`}
			imageAlt='Birthday celebration of Rev.Fr. Wilson Mecheril on Sunday 10th of March 2024'
		/>
		<GalleryCard
			title='Send off to Rev. Fr. Davis Kalapurackal and 25th Ordination Aniversary of Rev. Fr. Tomy Madhavappallil on 18th of Feb 2024'
			url='/gallery/2024/2024-02-send-off-kalapurackal-madhavappallil'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2024/2024-02-send-off-kalapurackal-madhavappallil/thumbnails/0.jpg`}
			imageAlt='Send off to Rev. Fr. Davis Kalapurackal and 25th Ordination Aniversary of Rev. Fr. Tomy Madhavappallil on 18th of Feb 2024'
		/>
		<GalleryCard
			title='Declaration of St.Thomas Syro Malabar Community, Vienna by Vicar General Rev.Fr. Yuri Kolassa on 24th Dec 2023'
			url='/gallery/2023/2023-12-christmas-liturgy-tivoli'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-12-christmas-liturgy-tivoli/thumbnails/0.jpg`}
			imageAlt='Declaration of St.Thomas Syro Malabar Community, Vienna by Vicar General Rev.Fr. Yuri Kolassa on 24th Dec 2023'
		/>
		<GalleryCard
			title='Christmas Liturgy Saikogasse 2023'
			url='/gallery/2023/2023-12-christmas-liturgy-seiko'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-12-christmas-liturgy-seiko/thumbnails/0.jpg`}
			imageAlt='Christmas Liturgy Saikogasse 2023'
		/>
		<GalleryCard
			title='Catechism Teachers Klausurtagung 2023'
			url='/gallery/2023/2023-12-catechism-teachers-klausurtagung'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-12-catechism-teachers-klausurtagung/thumbnails/0.jpg`}
			imageAlt='Catechism Teachers Klausurtagung 2023'
		/>
		<GalleryCard
			title='Ecumenical Carol Music Competition on the 10th Dec 2023'
			url='/gallery/2023/2023-12-carol-singing'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-12-carol-singing/thumbnails/0.jpg`}
			imageAlt='Ecumenical Carol Music Competition on the 10th Dec 2023'
		/>
		<GalleryCard
			title='Pilgrimage to Poland on 27th-29th October 2023'
			url='/gallery/2023/2023-11-pilgrimage-to-poland'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-11-pilgrimage-to-poland/thumbnails/83.jpg`}
			imageAlt='Pilgrimage to Poland on 27th-29th October 2023'
		/>
		<GalleryCard
			title='Send off to Rev. Father Cyriac Njayarkulam CMF'
			url='/gallery/2023/2023-09-send-off-cyriac-njayarkulam'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-09-send-off-cyriac-njayarkulam/thumbnails/38.jpg`}
			imageAlt='Photo from the Send off to Father Cyriac Njayarkulam'
		/>
		<GalleryCard
			title='Welcome to Mar Jose Puthenveettil 2023'
			url='/gallery/2023/2023-07-welcome-to-mar-jose-puthenveettil'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-07-welcome-to-mar-jose-puthenveettil/thumbnails/1.JPG`}
			imageAlt='Photo from the Welcome to Mar Jose Puthenveettil 2023'
		/>
		<GalleryCard
			title='Parish Festival 2023'
			url='/gallery/2023/2023-06-parish-festival'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-06-parish-festival/thumbnails/167.JPG`}
			imageAlt='Photo from the parish festival 2023'
		/>
		<GalleryCard
			title='Holy Confirmation 2023'
			url='/gallery/2023/2023-05-confirmation'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-05-confirmation/thumbnails/167.jpg`}
			imageAlt='Photo from confirmation'
		/>
		<GalleryCard
			title='Father Thomas Birthday 2023'
			url='/gallery/2023/2023-05-father-thomas-birthday'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-05-father-thomas-birthday/thumbnails/3.jpg`}
			imageAlt='Photo from father thomas birthday 2023'
		/>
		<GalleryCard
			title='First Holy Communion 2023'
			url='/gallery/2023/2023-05-first-communion'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-05-first-communion/thumbnails/1.jpg`}
			imageAlt='Photo from first communion 2023'
		/>
		<GalleryCard
			title='Easter Sunday 2023'
			url='/gallery/2023/2023-04-easter-sunday'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-04-easter-sunday/thumbnails/11.jpeg`}
			imageAlt='Photo from easter sunday 2023'
		/>
		<GalleryCard
			title='Maudy Thursday 2023'
			url='/gallery/2023/2023-04-maudy-thursday'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-04-maudy-thursday/thumbnails/1.jpeg`}
			imageAlt='Photo from maudy thursday 2023'
		/>
		<GalleryCard
			title='Annual Retreat 2023'
			url='/gallery/2023/2023-04-annual-easter-retreat'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-04-annual-easter-retreat/thumbnails/20.jpg`}
			imageAlt='Photo from annual retreat 2023'
		/>
		<GalleryCard
			title='Palmsunday 2023'
			url='/gallery/2023/2023-04-palmsunday'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-04-palmsunday/thumbnails/1.jpg`}
			imageAlt='Photo from palmsunday 2023'
		/>
		<GalleryCard
			title='Christmas Carol Singing 2022'
			url='/gallery/2022/2022-dec-carol-singing'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2022/2022-dec-carol-singing/thumbnails/1.jpg`}
			imageAlt='Christmas Carol Singing 2022'
		/>
		<GalleryCard
			title='Ruby Jubilee Event 2022'
			url='/gallery/2022/2022-oct-ruby-jubilee-event'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2022/2022-oct-ruby-jubilee-event/thumbnails/10.jpg`}
			imageAlt='Ruby Jubilee Event'
		/>
		<GalleryCard
			title='Medjugorge Pilgrimage 2022'
			url='/gallery/2022/2022-oct-medjugorge-pilgrimage'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2022/2022-oct-medjugorge-pilgrimage/thumbnails/1.jpg`}
			imageAlt='Medjugorge Pilgrimage 2022'
		/>
	</div>
</Layout>
<style lang='scss'>
	.grid {
		display: flex;
		flex-flow: row wrap;
		gap: 32px;
	}
</style>
