---
import GalleryCard from '../../components/GalleryCard.svelte'
import Layout from '../../layouts/Layout.astro'

const metaData = {
	title: 'Gallery',
	desciption: 'Photos of various Syro Malabar Community events.',
}
---

<Layout {...metaData}>
	<h1>Gallery</h1>
	<div class='grid'>
		<GalleryCard
			title='Pilgrimage to Poland on 27th-29th October 2023'
			url='/gallery/2023/2023-11-pilgrimage-to-poland'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-11-pilgrimage-to-poland/thumbnails/83.jpg`}
			imageAlt='Pilgrimage to Poland on 27th-29th October 2023'
		/>
		<GalleryCard
			title='Send off to Rev. Father Cyriac Njayarkulam CMF'
			url='/gallery/2023/2023-09-send-off-cyriac-njayarkulam'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-09-send-off-cyriac-njayarkulam/thumbnails/38.jpg`}
			imageAlt='Photo from the Send off to Father Cyriac Njayarkulam'
		/>
		<GalleryCard
			title='Welcome to Mar Jose Puthenveettil 2023'
			url='/gallery/2023/2023-07-welcome-to-mar-jose-puthenveettil'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-07-welcome-to-mar-jose-puthenveettil/thumbnails/1.JPG`}
			imageAlt='Photo from the Welcome to Mar Jose Puthenveettil 2023'
		/>
		<GalleryCard
			title='Parish Festival 2023'
			url='/gallery/2023/2023-06-parish-festival'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-06-parish-festival/thumbnails/167.JPG`}
			imageAlt='Photo from the parish festival 2023'
		/>
		<GalleryCard
			title='Holy Confirmation 2023'
			url='/gallery/2023/2023-05-confirmation'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-05-confirmation/thumbnails/167.jpg`}
			imageAlt='Photo from confirmation'
		/>
		<GalleryCard
			title='Father Thomas Birthday 2023'
			url='/gallery/2023/2023-05-father-thomas-birthday'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-05-father-thomas-birthday/thumbnails/3.jpg`}
			imageAlt='Photo from father thomas birthday 2023'
		/>
		<GalleryCard
			title='First Holy Communion 2023'
			url='/gallery/2023/2023-05-first-communion'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-05-first-communion/thumbnails/1.jpg`}
			imageAlt='Photo from first communion 2023'
		/>
		<GalleryCard
			title='Easter Sunday 2023'
			url='/gallery/2023/2023-04-easter-sunday'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-04-easter-sunday/thumbnails/11.jpeg`}
			imageAlt='Photo from easter sunday 2023'
		/>
		<GalleryCard
			title='Maudy Thursday 2023'
			url='/gallery/2023/2023-04-maudy-thursday'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-04-maudy-thursday/thumbnails/1.jpeg`}
			imageAlt='Photo from maudy thursday 2023'
		/>
		<GalleryCard
			title='Annual Retreat 2023'
			url='/gallery/2023/2023-04-annual-easter-retreat'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-04-annual-easter-retreat/thumbnails/20.jpg`}
			imageAlt='Photo from annual retreat 2023'
		/>
		<GalleryCard
			title='Palmsunday 2023'
			url='/gallery/2023/2023-04-palmsunday'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2023/2023-04-palmsunday/thumbnails/1.jpg`}
			imageAlt='Photo from palmsunday 2023'
		/>
		<GalleryCard
			title='Christmas Carol Singing 2022'
			url='/gallery/2022/2022-dec-carol-singing'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2022/2022-dec-carol-singing/thumbnails/1.jpg`}
			imageAlt='Christmas Carol Singing 2022'
		/>
		<GalleryCard
			title='Ruby Jubilee Event 2022'
			url='/gallery/2022/2022-oct-ruby-jubilee-event'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2022/2022-oct-ruby-jubilee-event/thumbnails/10.jpg`}
			imageAlt='Ruby Jubilee Event'
		/>
		<GalleryCard
			title='Medjugorge Pilgrimage 2022'
			url='/gallery/2022/2022-oct-medjugorge-pilgrimage'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2022/2022-oct-medjugorge-pilgrimage/thumbnails/1.jpg`}
			imageAlt='Medjugorge Pilgrimage 2022'
		/>
	</div>
</Layout>
<style lang='scss'>
	.grid {
		display: flex;
		flex-flow: row wrap;
		gap: 32px;
	}
</style>
