---
import Layout from '../../../layouts/Layout.astro'
import Gallery from '../../../components/Gallery.svelte'

const metaData = {
	title: 'Pilgrimage to Poland on 27th-29th October 2023',
	desciption: 'Pilgrimage to Poland on 27th-29th October 2023',
}

const amountOfImages = 251; 

let images = []

for (let i = 0; i <= amountOfImages; i++) {
	images.push({
		largeURL: `${
			import.meta.env.PUBLIC_ASSETS
		}images/2023/2023-11-pilgrimage-to-poland/${i}.jpg`,
		thumbnailURL: `${
			import.meta.env.PUBLIC_ASSETS
		}images/2023/2023-11-pilgrimage-to-poland/thumbnails/${i}.jpg`,
		width: 1200,
		height: 800,
	})
}
---

<Layout {...metaData}>
	<h1>{metaData.title}</h1>
	<Gallery
		client:load
		galleryID='pilgrimage-to-poland-10-2023'
		images={images}
	/>
</Layout>
