---
import Layout from '../../../layouts/Layout.astro'
import Gallery from '../../../components/Gallery.svelte'

const metaData = {
	title: 'SMYM Mariazell Pilgrimage 2023',
	desciption: 'SMYM Mariazell Pilgrimage in 2023',
}

const amountOfImages = 37; 

let images = []

for (let i = 1; i <= amountOfImages; i++) {
	images.push({
		largeURL: `${
			import.meta.env.PUBLIC_ASSETS
		}images/2023/2023-10-smym-mariazell/${i}.jpg`,
		thumbnailURL: `${
			import.meta.env.PUBLIC_ASSETS
		}images/2023/2023-10-smym-mariazell/thumbnails/${i}.jpg`,
		width: 1200,
		height: 800,
	})
}
---

<Layout {...metaData}>
	<h1>{metaData.title}</h1>
	<Gallery
		client:load
		galleryID='october-2023-smym-mariazell'
		images={images}
	/>
</Layout>
