---
import Layout from '../../../layouts/Layout.astro'
import Gallery from '../../../components/Gallery.svelte'

const metaData = {
	title: 'Christmas Special Agape SMYM St.Thomas SMC Vienna 2023',
	desciption: 'Christmas Special Agape SMYM St.Thomas SMC Vienna 2023',
}

const amountOfImages = 26; 

let images = []

for (let i = 0; i <= amountOfImages; i++) {
	images.push({
		largeURL: `${
			import.meta.env.PUBLIC_ASSETS
		}images/2023/2023-12-christmas-special-agape/${i}.jpg`,
		thumbnailURL: `${
			import.meta.env.PUBLIC_ASSETS
		}images/2023/2023-12-christmas-special-agape/thumbnails/${i}.jpg`,
		width: 1200,
		height: 800,
	})
}
---

<Layout {...metaData}>
	<h1>{metaData.title}</h1>
	<Gallery
		client:load
		galleryID='2023-oct-pilgrimage-to-poland'
		images={images}
	/>
</Layout>
