---
import Layout from '../layouts/Layout.astro'
import BlogCard from '../components/BlogCard.svelte'

const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
const content = {};
---

<Layout content={content}>
	<h1>Oh no! 😨</h1>
	<p>The page you intended to visit does not exist. <br />
		Instead, check out our latest <a href="/">news.</a><br />
	</p>

</Layout>

<style>
	ul {
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 32px;
		margin: 0;
		padding: 0;
	}
</style>
