---
import Layout from '../layouts/Layout.astro'

const metaData = {
	title: 'Catechism',
	desciption:
		'Here you can find information about catechism lessons and events.',
}
---

<Layout {...metaData}>
	<h1>Catechism</h1>
	<section>
		<p>
			SMC Catechism classes are conducted to give formation in the Catholic
			faith to the children of our Parish. It's a divine opportunity for our
			children to have religious education in our Malayalee tradition and
			culture.
		</p>

		<p>
			The classes are available in 12 levels suitable for children up to the
			12th grade (from six years upwards) and meet every Sunday throughout the
			year at following places.
		</p>

		<p>
			Meidling: <em>10:45 hrs</em> (Pfarre Maria Lourdes, Tivoligasse 20, 1120 Vienna)
		</p>

		<p>
			Saikogasse: <em>16:15 hrs</em> (Pfarre Auferstehung Christi, Saikogasse 8,
			1220 Vienna)
		</p>

		<p>
			Our Catechism classes established in the year 2001 with 15 children in
			Stadlau SMZ Chappell. Year to year the number of children were increasing
			enormously. Due to space allocation problem for dividing the children in
			different classes, we had to find other facilities. In 2003 we moved to
			the Stadlau church and we were allowed to use the entire basement area for
			catechism classes. We started Catechism classes at the same time in
			Meidling church also. After they closed the Stadtlau church, we started
			another center in the church Auferstehung Christi in Saikogasse in the
			year 2018.
		</p>

		<p>
			Since 2005 September we follow the Catechism lessons based on the text
			published by The Synodal Commission for Catechesis, Syro-Malabar
			Catechetical Centre, Cochin. Now we have many dedicated students in both
			units and 22 total permanent teachers and 5 substitute teachers in
			Meidling Unit and 2 in Saikogasse.
		</p>

		<p>
			The catechism classes begin with a common prayer of children in the church
			and move to their own classes. We have introduced semester examinations
			(January and June) in 2007 and we are still continuing this. As a
			motivation to the children, they will be awarded First and Second Prizes
			for highest mark and maximum attendance on the first day of the new
			academic year. One day Teachers seminar has introduced in March 2010 and
			planned to continue every year.
		</p>

		<p>
			We are very thankful to Fr. Dr. Thomas Thandapally CST, SMC Chaplain, and
			our Assistant Chaplain Fr. Wilson Mecheril MCBS for their great leadership
			and advises to this institution. The community is also thankful to the
			teachers for their sincere dedication and sacrifice to our young
			generation for their spiritual awareness and growth. Since 2010-11
			Academic year, we gave chances to Youth Teachers to teach catechism in
			both centers.
		</p>
	</section>

	<div class='timetable'>
		<table>
			<thead>
				<tr>
					<th>Sep</th>
					<th>Oct</th>
					<th>Nov</th>
					<th>Dec</th>
					<th>Jan</th>
					<th>Feb</th>
					<th>Mar</th>
					<th>Apr</th>
					<th>May</th>
					<th>Jun</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>18</td>
					<td>02</td>
					<td>06</td>
					<td>04</td>
					<td><em>01*</em></td>
					<td><em>05*</em></td>
					<td>05</td>
					<td><em>02*</em></td>
					<td>07</td>
					<td>04<br /></td>
				</tr>
				<tr>
					<td>25</td>
					<td><em>09*</em></td>
					<td>13</td>
					<td><em>11*</em></td>
					<td>08</td>
					<td>12</td>
					<td>12</td>
					<td><em>09*</em></td>
					<td>14</td>
					<td><em>11 Exam</em></td>
				</tr>
				<tr>
					<td></td>
					<td>16</td>
					<td>20</td>
					<td>18</td>
					<td>15</td>
					<td>19</td>
					<td>19</td>
					<td>16</td>
					<td><em>21*</em></td>
					<td>18</td>
				</tr>
				<tr>
					<td></td>
					<td><em>23*</em></td>
					<td>27</td>
					<td>25</td>
					<td><em>22 Exam</em></td>
					<td>26</td>
					<td>26</td>
					<td>23</td>
					<td><em>28*</em><br /></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td>30</td>
					<td></td>
					<td></td>
					<td>29</td>
					<td></td>
					<td></td>
					<td>30</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>

	<p class='special-dates'>
		Oct. 23: Jubilee<br />
		Dec. 11: Carol<br />
		Dec. 25, Jan.01: Christmas holidays<br />
		Jan. 22: Exam<br />
		Feb. 05: Sem.Vacation<br />
		Apr. 2: Palm Sunday<br />
		Apr. 9: Easter; May 21: First Holy Communion<br />
		May 28: Confirmation<br />
		June 11: Exam
	</p>

	<section>
		<h2>Parents please note the following</h2>
		<ol>
			<li>Please bring your child regularly on time.</li>
			<li>
				The Catechism students will be awarded Ist and IInd prizes on a merit
				basis and full attendance at the end of each academic year.
			</li>
			<li>
				Attendance will take after the Assembly, when the children are in the
				class.
			</li>
			<li>
				Oral examinations will be conducted for Level 3 and upwards . In case of
				absence the children will be given other chances to attend the
				examination.
			</li>
			<li>
				Confession for Children will be arranged before Easter. During Christmas
				time the children have to find a suitable place for their confession.
			</li>
			<li>
				On successful completion of 12 levels, a Certificate of Merit will be
				issued.
			</li>
		</ol>
	</section>
	<section>
		<p>
			For more details and registration please contact Mrs. Daisy Alany or Mr.
			Boban Kalapurackal, SMC Catechism Committee representatives,
		</p>
		<h3>Daisy Alany</h3>
		Tel. <a href='tel:+4369919242335'>+4369919242335</a><br />
		Tel. <a href='mailto:daisyalany@yahoo.com'>daisyalany@yahoo.com</a><br />
		<h3>Boban Kalapurackal</h3>
		Tel. <a href='tel:+4369917287100'>+4369917287100</a><br />
		Email: <a href='mailto:shajiboban@hotmail.com'>shajiboban@hotmail.com</a>
	</section>
</Layout>
<style lang='scss'>
	.timetable {
		overflow-x: auto;
	}

	.special-dates {
		columns: 250px 2;
		margin: 0;
	}
	table {
		text-align: center;
		border-collapse: collapse;
	}
	td,
	th {
		padding: 8px 16px;
		border: 1px solid var(--color-text-faded);
	}
	h3 {
		margin: 32px 0 16px 0;
	}
</style>
