---
import Layout from '../layouts/Layout.astro'

const metaData = {
	title: 'Council',
	desciption:
		'Here you can find the structure of our pastoral and financial council, as well as other other roles filled by our members.',
}
---

<Layout {...metaData}>
	<h1>Councils</h1>
	<section>
		<h2>SMC Pastoral Council 2022 - 2027</h2>
	</section>
	<section>
		<h2>SMC Financial Council 2022 - 2027</h2>
	</section>
</Layout>
