---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to SMC Vienna.">
		<h1>Welcome to the new Syro Malaber Community Vienna Website</h1>

		<p>We are currently in the process of building this site and will be available for you soon!</p>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}

</style>
