---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to SMC Vienna.">
	<main>
		<h1>Welcome to the new Syro Malaber Community Vienna Website</h1>
	</main>
</Layout>

<style>
	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}
</style>
