---
import Layout from '../layouts/Layout.astro'
import GalleryCard from '../components/GalleryCard.svelte';
const metaData = {
	title: 'Kairali Nikethan School',
	desciption:
		"Kairali Nikethan School, established in 1993 under the guidance of Chaplain, Indian Catholic community Vienna, to promote the linguistic heritage and Indian dances which illuminate and express India's culture in a direct manner to our Malayalee children living in Vienna",
}
---

<Layout {...metaData}>
	<h1>Kairali Nikethan School</h1>
	<section>
		<p>
			Our school's mission is to help and facilitate a direct orientation
			towards the linguistic and cultural needs of the expatriate Malayalee
			children living in Vienna. The school encourages building a learning
			relationship with the Malayalam language, while supporting the wholesome
			development of a child through traditional and contemporary dances,
			intellectual games, and sporting activities.
		</p>
		<p>
			Kairali Niethan was established in 1993 under the auspices of Syro Malabar
			Catholic Community in Austria (previously known as ICC Vienna) with the
			aim of promoting the linguistic heritage and Indian dance forms in an
			unswerving manner to the Malayalee children in Vienna.
		</p>
		<p>
			Children aged between 5 to 15 can attend 3 hours of classes under the
			different tutored modules. Every year, there will be some variations in
			the introduction of programs as per the availability of teachers and
			students. However, teaching of the Malayalam language remains
			predominantly as the focus of the school.
		</p>
		<p>
			The school organizes many events such as Christmas and Easter
			celebrations, annual days, competitions, and excursions etc. for our
			students to spend a meaningful and lasting time at the school apart from
			their normal training.
		</p>
	</section>
	<section>
		<h2>General Information</h2>
				<h3>School Hours</h3>
				<p><em>Saturdays: 14:00 PM to 17:00 PM</em></p>
				<h3>Courses</h3>
				<ul>
					<li><h4>Malayalam Language</h4>
						<p>Mr. Boban Kalapurackal</p> 
					</li>
					<li><h4>Professional Painting</h4>
					</li>
					<li><h4>Chess Lessons</h4>
						<p>Lukas Feichtinger</p>
					</li>
					<li><h4>Classical Dance</h4>
						<p>Mrs. Kumudini Kaindl</p>
					</li>
					<li><h4>Modern Dance</h4>
						<p>Mrs. Priyadarsini Renjith</p>
						<p>Mrs. Nerin Elsa George</p>
					</li>
					<li><h4>Basketball Coaching</h4>
						<p>Mr. Biju George</p>
					</li>
				</ul>
				<h3>Patrons</h3>
				<p>Fr. Dr. Thomas Thandappilly CST</p>
				<p>Fr. Wilson Mecheril MCBS</p>
				<h3>Contact Information</h3>
				<p>
					Mr. Ebby Kurian <br>
					School Coordinator <br>
					Tel.: <a href="tel:+436605204181">+43 660 520 41 81</a> <br>
					Email: <a href="mailto:ebbykurian@gmx.at">ebbykurian@gmx.at</a>
				</p>
				<h3>Location</h3>
					<p>Franklinstraße 26, <br>
					1210 Wien</p>
		<img src={`${import.meta.env.PUBLIC_ASSETS}images/kairali-nikethan/franklinstrasse.png`} alt="Location of Franklinstraße">
	</section>
	<section>
		<h2>Photos</h2>
		<div class="grid">
			<GalleryCard
			title='Kairalinikethan Christmas Celebration 2022'
			url='/gallery/2022/2022-dec-kairalinikethan-christmas'
			image={`${
				import.meta.env.PUBLIC_ASSETS
			}images/2022/2022-dec-kairalinikethan-christmas/thumbnails/1.jpg`}
			imageAlt='Kairalinikethan Christmas Celebration 2022'
			/>
		</div>
	</section>
</Layout>
<style lang="scss">
	h3 {
		margin-top: 32px;
	}
	ul {
		list-style: none;
		padding: 0;
		li{
			margin: 16px;
		}
		p {
			margin: 0 0 0 16px;
		}
	}

	.grid {
		display: flex;
		flex-flow: row wrap;
		gap: 32px;
	}
</style>
