---
import Layout from '../layouts/Layout.astro'

const metaData = {
	title: 'Kairali Nikethan School',
	desciption:
		"Kairali Nikethan School, established in 1993 under the guidance of Chaplain, Indian Catholic community Vienna, to promote the linguistic heritage and Indian dances which illuminate and express India's culture in a direct manner to our Malayalee children living in Vienna",
}
---

<Layout {...metaData}>
	<h1>Kairali Nikethan School</h1>
	<section>
		<p>
			Kairali Nikethan School, established in 1993 under the guidance of
			Chaplain, Indian Catholic community Vienna, to promote the linguistic
			heritage and Indian dances which illuminate and express India's culture in
			a direct manner to our Malayalee children living in Vienna. School offers
			Malayalam classes, Indian classical dance courses and modern dance courses
			to keep our younger generation abreast of our mother tongue, tradition and
			culture
		</p>
		<p>
			Classes meet every Saturday from 14.00 hrs to 17.00 hrs. according to the
			Austrian School academic year at Ebendorferstrasse 8, 1010 Vienna, between
			Rathaus and Votive Church
		</p>
		<p>
			To keep our mother tongue known to our children, we offer Malayalam
			classes for children 5-15 years of age. For the current school year in 6
			classes we have around 67 students learning Malayalam alphabets and
			lessons under 2 delightful teachers. For Indian classical dance we have
			around 31 students in 4 classes.
			</p>
			<p>Indian modern dance for calendar year there are around 40 young students.  3 young talented teachers run the 6 classes in different timing. In order to promote Christian dance, we have taken special care to teach Christian dances for 24 students on a  priority basis for this year along with modern dance.  </p>
			<p>To promote the artistic and creative talents of our children, Kairali Nikethan School conducts Youth Festival Competition every year. </p>
		</section>
<section>
	<h2>Teachers</h2>
<p>Mr. Boban Kalapurackal (Malayalam) <a href="tel:+4369917287100">Tel: +43 699 17 287 100</a></p>
<p>Mrs. Usha Kannankudi (Malayalam)<a href="tel:+4368860348875">Tel: +43 688 60 348 875</a></p>
<p>Ms. Kumudini Kaindl (C. dance)  <a href="tel:+436766239530">Tel: +43 67 66 239 530</a></p>
<p>Ms. Namitha Koottummel (M. dance) <a href="tel:+4369915027247">Tel: +43 699 15 027 247</a></p>
<p>Ms. Blessy Ulloorikara (M. dance) <a href="tel:+4369917287100">Tel: +43 66 05 921 551</a></p>
</section>

<section>
	<p>For more information and enrolment please contact Mr. Ebby Kurian (<a href="tel:+436605204181">Tel: +43 660 520 41 81</a>, Email: <a href="mailto:ebbykurian@gmx.at">ebbykurian@gmx.at</a>). Kairali Nikethan School, Vienna.</p>

	<p>Chaplain:  Rev. Fr. Dr. Thomas Thandappilly CST,  <a href="tel:+4369911966771">Tel. +43 699 11 966 771</a></p>

	<p>Asst. Chaplain: Rev. Fr. Wilson Mecheril MCBS, <a href="tel:+436765323704">Tel. +43 67 65 323 704</a></p>
</section>
</Layout>
