---
import Layout from '../layouts/Layout.astro'

const content = {
	title: 'Liturgy',
	desciption:
		'Regular times for Mass and Services on our different locations in Vienna',
}
---

<Layout content={content}>
	<h1>Liturgy</h1>
	<section>
		<h2>Pfarre Maria Lourdes</h2>
		<h3>Meidlng, 1120 Vienna</h3>
		<ul>
			<li>
				Malayalam Holy Mass on every <em>Sunday at 11:30 hrs</em> <br /> 
				(No Private / Group Mass)
			</li>
			<li>
				Malayalam Holy Mass on <em> Tuesday, Friday & Saturday at 08:00 hrs</em>. <br />
				(in the Chapel)
			</li>
			<li>
				Malayalam Holy Mass and Adoration on <em>
					First Friday of every Month at
					19:00 hrs
				</em>.
			</li>
		</ul>
	</section>
	<section>
		<h2>Pfarre Auferstehung Christi</h2>
		<h3>Saikogasse 8, 1220 Vienna</h3>
		<ul>
			<li>
				Malayalam Holy Mass on every <em>Sunday at 17:00 hrs</em><br />
				(No Private / Group
				Mass)
			</li>
			<li>Malayalam Holy Mass on every <em>Saturday at 08:00 hrs</em></li>
		</ul>
	</section>
	<section>
		<h2>VIC Chapel</h2>
		<h3>Vienna International Centre, 1400 Vienna</h3>
		<ul>
			<li>English Latin Mass on every <em>Friday at 12:30 hrs</em></li>
		</ul>
	</section>
</Layout>
