---
import Layout from '../layouts/Layout.astro'

const metaData = {
	title: 'Marriage Perparation',
	desciption: 'We offer marriage perparation',
}
---

<Layout {...metaData}>
	<h1>Marriage Perparation</h1>
	<div>
		<p>
			Syro Malabar Community Vienna offers Marriage Preparation Course for three
			days in the last weeks of February and November every year. Besides, this
			Course can be done also in July and August on personal request of at least
			two candidates who live outside Austria. That must be arranged personally
			with the Chaplain of the Indian Catholic Community, P. Dr. Thomas
			Thandappilly CST, <a href='tel:+4318174206'>Tel: +43 1 817 42 06</a> or <a
			href='tel:+4369911966771'>Mobile 0043 6991 19 66 771</a
			>. 
		</p>
		<p>
			The course is approved by the Syro Malabar Church and thereby acceptable
			for Catholic Sacramental Marriages in other Rites. Course Fee is Euro 50,-
			Accommodation must be arranged personally with any trustworthy Malayalee
			Catholic Family in Vienna or in Hotels.
		</p>
		<p>Hearty Welcome!</p>
		<p>SMC Chaplain Vienna</p>
	</div>
</Layout>
