---
import Nav from '../components/Nav.astro';
---
<header>
    <div class='menu'>
        <div class='logo'>
            <img src='/assets/logo_icon-text.svg' alt='test' />
        </div>
        <Nav />
    </div>
</header>

<style lang='scss'>
    .logo {
        width: 35ch;
        height: 15ch;
    }
</style>